html body {
    background-image: url(../imgs/background.jpg);
}

/*carrousel*/
.sponsor-section {
    overflow: hidden; /* Evita que el carrusel se desborde del contenedor */
    position: relative;
}

.sponsor-section .slider {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: scrollRight 15s linear infinite;
    width: 100%; /* Asegura que el carrusel ocupe el 100% del ancho */
    justify-content: space-around; /* Distribuye uniformemente las imágenes */
}

.sponsor-section .slider a {
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0; /* Evita que los elementos se compriman */
}

.sponsor-section .slider img {
    width: 200px;  /* Aumenta el ancho de las imágenes */
    height: 150px; /* Aumenta la altura de las imágenes */
    object-fit: contain; /* Asegura que las imágenes mantengan su proporción */
}

.sponsor-section .slider a:hover img {
    transform: scale(1.2); /* Efecto de hover para agrandar las imágenes */
}

@keyframes scrollRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*map*/
.contact-map-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d14e1b3b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-map-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.map-wrapper {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.map-wrapper iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
    outline: none; /* Elimina cualquier borde predeterminado */
}

.map-wrapper iframe:focus {
    outline: 103px solid orange; /* Añade un borde naranja al seleccionar */
    border-radius: 10px; /* Mantiene las esquinas redondeadas */
}

.contact-map-container p {
    margin-top: 20px;
    font-size: 16px;
    color: white;
}
